.search{
  height: 100%;
  background: #f5f5f5;
}

.jojo{
  box-shadow: 2px 2px 4px;
}

.search-right{
}

.search-result-head{
  font-size: 20px;
  font-weight: bold;
}
.search-result-head-text{
  font-size: 16px;
  font-weight: normal;
}

.search-result-number{
  font-size: 14px;
}


p.searchhh{
  position: absolute;
  font-size: 15px;
  background-color: lightgray;
}

.kobushi{
  position: relative;
  margin: 0;
  
  top: 0;
  left: 0;
}

.items-box-content-text{
  margin-top: 30px;
}

.items-box-contenttt{
  position: relative;
  width: 180px;
}

.item-box__title{
  width: 185px;
  height: 50px;
  background-color: white;
  padding-top: 0;
}

.item-box__image{
  height: 180px;
  width: 185px;
}