// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper--pay{
  height: 1000px;
}

.content__title{
  margin: auto;
  height: 50px;
  width: 700px;
  background-color: white;
  border-bottom: solid lightgray 1px;
  h2{
    padding-left: 220px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 24px;
  }
}

.content__credit-card{
  height: 562px;
  width: 700px;
  background-color: white;
  margin: auto;
  &__inner{
    height: 407px;
    width: 343px;
    margin: auto;
    .cards-expire{
      // margin-top: 20px;
      display: flex;
      &__wrap{
        // display: inline-block;
      }
    }
  }
}

.cards-expire__wrapp{
  padding-top: 25px;
}

.numnum{
  padding-top: 15px;
}

.code{
  margin-top: 15px;
}

.input-expire{
  // width: 100%;
  height: 48px;
  width:120px;
  border: 1px solid #ccc;
  background-color: white;
}

.limitt{
  display: block;
}

.label{
  width: 200px;
  font-weight: bold;
  font-size: 15px;
}

.input-number{
  display: inline-block;
  width: 100%;
  height: 48px;
  border-radius:5px;
  border: 1px solid #ccc;
}
.card-logo{
  padding-left: 0;
}

.cards-numberr{
  padding-top: 35px;
  // margin-bottom: 35px;
}

.must{
  background-color: red;
  color: white;
  border-radius: 3px;
}

#card_token{
  margin-top: 50px;
}

.content-bottom--add-btn{
  width: 343px;
  height: 50px;
  background-color: red;
  color: white;
}

