.pay-wrapper{
  height: auto;
  width: 100%;
}  
.main{
  margin: 40px 210px 0;
  padding-bottom: 40px;
  display: flex;
  .right__box{
    height: 358px;
    width: 700px;
    background-color: white;
    margin-left: 40px;
    position: relative;
    &__header{
      height: 50px;
      border-bottom: 2px solid #f5f5f5;
      h2{
        font-weight: bold;
        font-size: 24px;
        text-align: center;
      }
    }
    &__footer{
      height: 308px;
      &__inner{
        
        &__top{
        }
        &__middle{
          height: 150px;
          padding-bottom: 32px;
          height: 10px;
          &__cash{
            height: 150px;
            margin-top: 50px;
            position: absolute;
            left: 2%;
            top: 25%;
          }
          &__border{
            height: 50px;
            width: 320px;
            background: #ea352d;
            text-align: center;
            padding: 15px;
            color: white;
            margin-bottom: 15px;
            position: absolute;
            left: 28%;
            bottom: 15%;
            .card{
              color: white;
              font-size: 14px;
              line-height: 15px;
              padding: 20px 40px;
            }
          }
        }
        &__bottom{
          position: absolute;
          bottom: 0;
          right: 0;
          text-align: right;

          .pay{
            color: #0099e8;
            font-size: 14px;
          }
          .fas.fa-chevron-right{
            color: #0099e8;
          }

        }
      } 
    }
  }


  p.card{
    margin-left: 125px;
  }

  p.pay{
    padding: 8px 24px;
    text-align: center;
    font-size: 24px;
  }
}