.footer{
  height: 649px;
  width: 100vw;
  &__downroad{
    height: 260px;
    width: 100%;
    background: url(https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg) !important;
    
    display: flex;
    &__left{
      width: 417px;
      height: 260px;
      margin-left: 465px;
      &__top{
        font-size: 24px;
        font-weight: bold;
        color: white;
        margin-top: 30px;
      }
      &__middle{
        font-size: 35px;
        color: white;
      }
      &__bottom{
        line-height: 200px;
      }
    }
    &__right{
      width: 300px;
      height: 260px;
    }
  }

  &__guide{
    height: 389px;
    background-color: rgb(34, 34, 34);
    color: white;
    
    &__top{
      display: flex;
      width: 1020px;
      height: 296px;
      margin: auto;
      
      
      &__help{
        padding-right: 40px;
      }
      &__privacy__1{
        padding-right: 40px;
      }
      &__privacy__2{
        padding-top: 45px;
        padding-right: 40px;
      }
      &__country{
        padding-right: 40px;
      }
    }
    &__bottom{
      text-align: center;
      q{
        margin-right: 100px;
      }
    }
  }
}

p.aboutt{
  padding-right: 40px;
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
  color:white;
}