.side__link{
  // margin: 100px 0px 100px 200px;
  width: 280px;
  height: 1250px;
  // float: left;
  ul.side__link__top{
    margin: 0px;
    height: 700px;
    width: 280px;
    padding-left: 0px;
    li{
      height: 50px;
      width: 280px;
      background-color: white;
      border-bottom: solid thin #DDD;
      position: relative;
      .side__link__top--box{
        height: 25px;
        width: 270px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: black;
        i{
          float:right;
          font-size: 25px;
          color: #DDD;
          transition: all 0.5s;
          margin-right: 5px;
        }
      }
    }
    li:hover{
      background-color: rgb(245, 245, 245);
      i {
        font-weight: bolder;
        color: black;
        transform: translate(3px,0px);
      }
    }
  }

  .side__link__merpay{
    h3{
      width: 280px;
      font-weight: bold;
      margin-top: 40px;
    }
    ul.side__link__merpaylist{
      margin: 0px;
      height: 100px;
      width: 280px;
      background-color: white;
      padding-left: 0px;
      li{
        height: 50px;
        width: 280px;
        background-color: white;
        border-bottom: solid thin #DDDDDD;
        position: relative;
        .side__link__top--box{
          height: 25px;
          width: 270px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          color: black;
          i{
            float:right;
            height: 25px;
            width: 25px;
            color: black;
            font-size: 25px;
            color: #DDD; 
            transition: all 0.5s;
          }
        }
      }
      li:hover{
        background-color: rgb(245, 245, 245);
        i {
          font-weight: bolder;
          color: black;
          transform: translate(3px,0px);
        }
      }
    }
  }
  .side__link__edit{
    h3{
      width: 280px;
      font-weight: bold;
      margin-top: 40px;
    }
    ul.side__link__editlist{
      margin: 0px;
      background-color: white;
      li{
        height: 50px;
        width: 280px;
        border-bottom: solid thin #DDD;
        position: relative;
        .side__link__top--box{
          height: 25px;
          width: 270px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          color: black;
          i{
            float:right;
            height: 25px;
            width: 25px;
            font-size: 25px;
            color: #DDD; 
            transition: all 0.5s;
          }
        }
      }
      li:hover{
        background-color: rgb(245, 245, 245);
        i {
          font-weight: bolder;
          color: black;
          transform: translate(3px,0px);
        }
      }
    }
  }
}