.header

-# サーバー実装次第form_for(deleteメソッド)
.wrapper
  .main
    = render 'sideber'
    .contents
      .top--content      
        = link_to do  
          .log-out__button.button ログアウト
        
  = render 'item__exhibit'

  .aside
  .footer