
<div class="group" data-search="child">
  <h3 value="1" data-root-id="1">洋服のサイズ</h3>
		<p for="size_id[153]">XXS以下</p>
		<p for="size_id[154]">XS(SS)</p>
		<p for="size_id[2]">S</p>
		<p for="size_id[3]">M</p>
		<p for="size_id[4]">L</p>
		<p for="size_id[5]">XL(LL)</p>
		<p for="size_id[155]">2XL(3L)</p>
		<p for="size_id[156]">3XL(4L)</p>
		<p for="size_id[157]">4XL(5L)以上</p>
</div>

<div class="group" data-search="child">
  <h3	value="2" data-root-id="2" >メンズ靴のサイズ</h3>
    <p for="size_id[7]">FREE SIZE</p>
    <p for="size_id[133]">23.5cm以下</p>
    <p for="size_id[134]">24cm</p>
    <p for="size_id[135]">24.5cm</p>
    <p for="size_id[136]">25cm</p>
    <p for="size_id[137]">25.5cm</p>
    <p for="size_id[9]">26cm</p>
    <p for="size_id[10]">26.5cm</p>
    <p for="size_id[11]">27cm</p>
    <p for="size_id[12]">27.5cm</p>
    <p for="size_id[13]">28cm</p>
    <p for="size_id[138]">28.5cm</p>
    <p for="size_id[139]">29cm</p>
    <p for="size_id[140]">29.5cm</p>
    <p for="size_id[141]">30cm</p>
    <p for="size_id[142]">30.5cm</p>
    <p for="size_id[143]">31cm以上</p>
</div>

<div class="group" data-search="child">
  <h3 value="3" data-root-id="3">レディース靴のサイズ</h3>
    <p for="size_id[144]">20cm以下</p>
    <p for="size_id[145]">20.5cm</p>
    <p for="size_id[146]">21cm</p>
    <p for="size_id[147]">21.5cm</p>
    <p for="size_id[148]">22cm</p>
    <p for="size_id[16]">22.5cm</p>
    <p for="size_id[17]">23cm</p>
    <p for="size_id[18]">23.5cm</p>
    <p for="size_id[19]">24cm</p>
    <p for="size_id[20]">24.5cm</p>
    <p for="size_id[21]">25cm</p>
    <p for="size_id[22]">25.5cm</p>
    <p for="size_id[149]">26cm</p>
    <p for="size_id[150]">26.5cm</p>
    <p for="size_id[151]">27cm</p>
    <p for="size_id[152]">27.5cm以上</p>
</div>

<div class="group" data-search="child">
	<h3 value="6" data-root-id="6">スカートのサイズ</h3>
    <p for="size_id[34]">60cm以下</p>
    <p for="size_id[35]">~70cm</p>
    <p for="size_id[36]">~80cm</p>
    <p for="size_id[37]">~90cm</p>
    <p for="size_id[38]">90cm以上</p>
</div>


<div class="group" data-search="child">
	<h3 value="7"	data-root-id="7">キッズ服のサイズ</h3>
    <p for="size_id[40]">100cm</p>
    <p for="size_id[41]">110cm</p>
    <p for="size_id[42]">120cm</p>
    <p for="size_id[43]">130cm</p>
    <p for="size_id[44]">140cm</p>
    <p for="size_id[45]">150cm</p>
    <p for="size_id[55]">160cm</p>
</div>

<div class="group" data-search="child">
  <h3 value="8" data-root-id="8">ベビー・キッズ靴のサイズ</h3>
    <p for="size_id[47]">10.5cm以下</p>
    <p for="size_id[48]">11cm・11.5cm</p>
    <p for="size_id[49]">12cm・12.5cm</p>
    <p for="size_id[50]">13cm・13.5cm</p>
    <p for="size_id[51]">14cm・14.5cm</p>
    <p for="size_id[52]">15cm・15.5cm</p>
    <p for="size_id[53]">16cm・16.5cm</p>
    <p for="size_id[54]">17cm以上</p>
</div>

<div class="group" data-search="child">
	<h3 value="9" data-root-id="9">ベビー服のサイズ</h3>
    <p for="size_id[56]">60cm</p>
    <p for="size_id[57]">70cm</p>
    <p for="size_id[58]">80cm</p>
    <p for="size_id[59]">90cm</p>
    <p for="size_id[60]">95cm</p>
    <p for="size_id[90]">～20インチ</p>
    <p for="size_id[91]">20～26インチ</p>
    <p for="size_id[92]">26～32インチ</p>
</div>

<div class="group" data-search="child">
  <h3 value="14" data-root-id="14">テレビのサイズ</h3>
	<p for="size_id[93]">32～37インチ</p>
	<p for="size_id[94]">37～40インチ</p>
	<p for="size_id[95]">40～42インチ</p>
	<p for="size_id[96]">42～46インチ</p>
	<p for="size_id[97]">46～52インチ</p>
	<p for="size_id[98]">52～60インチ</p>
	<p for="size_id[99]">60インチ～</p>
</div>


<div class="group" data-search="child">
	<h3 value="17" data-root-id="17">カメラレンズのサイズ</h3>
	<p for="size_id[114]">ニコンFマウント</p>
	<p for="size_id[115]">キヤノンEFマウント</p>
	<p for="size_id[116]">ペンタックスKマウント</p>
	<p for="size_id[117]">ペンタックスQマウント</p>
	<p for="size_id[118]">フォーサーズマウント</p>
	<p for="size_id[119]">マイクロフォーサーズマウント</p>
	<p for="size_id[120]">α Aマウント</p>
	<p for="size_id[121]">α Eマウント</p>
	<p for="size_id[122]">ニコン1マウント</p>
	<p for="size_id[123]">キヤノンEF-Mマウント</p>
	<p for="size_id[124]">Xマウント</p>
	<p for="size_id[125]">シグマSAマウント</p>
</div>

<div class="group" data-search="child">
	<h3 value="12" data-root-id="12">オートバイのサイズ</h3>
    <p for="size_id[76]">50cc以下</p>
    <p for="size_id[77]">51cc-125cc</p>
    <p for="size_id[78]">126cc-250cc</p>
    <p for="size_id[79]">251cc-400cc</p>
    <p for="size_id[80]">401cc-750cc</p>
    <p for="size_id[81]">751cc以上</p>
</div>

<div class="group" data-search="child">
	<h3 value="13" data-root-id="13">ヘルメットのサイズ</h3>
    <p for="size_id[82]">XSサイズ以下</p>
    <p for="size_id[83]">Sサイズ</p>
    <p for="size_id[84]">Mサイズ</p>
    <p for="size_id[85]">Lサイズ</p>
    <p for="size_id[86]">XLサイズ</p>
    <p for="size_id[87]">XXLサイズ以上</p>
    <p for="size_id[88]">フリーサイズ</p>
    <p for="size_id[89]">子ども用</p>
</div>

<div class="group" data-search="child">
	<h3	value="11"	data-root-id="11"	>タイヤのサイズ</h3>
    <p for="size_id[158]">12インチ</p>
    <p for="size_id[67]">13インチ</p>
    <p for="size_id[68]">14インチ</p>
    <p for="size_id[69]">15インチ</p>
    <p for="size_id[70]">16インチ</p>
    <p for="size_id[71]">17インチ</p>
    <p for="size_id[72]">18インチ</p>
    <p for="size_id[73]">19インチ</p>
    <p for="size_id[74]">20インチ</p>
    <p for="size_id[75]">21インチ</p>
    <p for="size_id[159]">22インチ</p>
    <p for="size_id[160]">23インチ</p>
    <p for="size_id[161]">24インチ</p>
</div>


<div class="group" data-search="child">
  <h3	value="18"	data-root-id="18"	>スキーのサイズ</h3>
    <p for="size_id[126]">140cm～</p>
    <p for="size_id[127]">150cm～</p>
    <p for="size_id[128]">160cm～</p>
    <p for="size_id[129]">170cm～</p>
    <p for="size_id[130]">スキーボード</p>
    <p for="size_id[131]">子ども用</p>
    <p for="size_id[132]">その他</p>
</div>

<div class="group" data-search="child">	
	<h3	value="15"	data-root-id="15">スノーボードのサイズ</h3>
    <p for="size_id[100]">135cm-140cm未満</p>
    <p for="size_id[101]">140cm-145cm未満</p>
    <p for="size_id[102]">145cm-150cm未満</p>
    <p for="size_id[103]">150cm-155cm未満</p>
    <p for="size_id[104]">155cm-160cm未満</p>
    <p for="size_id[105]">160cm-165cm未満</p>
    <p for="size_id[106]">165cm-170cm未満</p>
</div>
