// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content{
  &__all{
    height: 6000px;
    // width: 1664px;
    width: 100vw;
    background-color: rgb(245, 245, 245);
    &__scrol{
      height: 390px;
      width: 1664px;
      background-image: url("himawari04.jpg");
      &__bar{
        position: relative;
        overflow: hidden;
        height: 390px;
        width: 1680px;
        &__slider{
          position: absolute;
        }
        &__left{
          font-size: 40px;
          font-weight: bold;
          position: absolute;
          top: 170px;
          left: 30px;
          color: white;
        }
        &__right{
          position: absolute;
          top: 170px;
          right: 30px;
          font-size: 40px;
          font-weight: bold;
          color: white;
        }
        &__bottom{
        }
      }
    }
    &__popular__category{
      height: 170px;
      margin: auto;
      background-color: white;
      &__title{
        font-size: 28px;
        line-height: 39px;
        width: 1680px;
        text-align: center;
        padding-top: 56px;
        font-weight: bold;
        margin-bottom: 16px;
      }
      &__links{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        padding-left: 15px;
      }
    }
    &__category__list{
      width: 1020px;
      height: 2614px;
      margin: auto;
      &__rady{
        height: 573px;
        padding-top: 42px;
        font-weight: bold;
        margin-bottom: 60px;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 584px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
              vertical-align: bottom;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
      &__men{
        height: 573px;
        padding-top: 42px;
        margin-bottom: 60px;
        font-weight: bold;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 524px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
      &__mecha{
        height: 573px;
        padding-top: 42px;
        margin-bottom: 60px;
        font-weight: bold;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 524px;
          
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
      &__hobby{
        height: 573px;
        padding-top: 42px;
        font-weight: bold;
        margin-bottom: 60px;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 584px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
    }
    &__popular__brand{
      height: 170px;
      margin: auto;
      background-color: white;
      &__title{
        font-size: 28px;
        line-height: 39px;
        width: 1680px;
        text-align: center;
        padding-top: 56px;
        font-weight: bold;
        margin-bottom: 16px;
      }
      &__links{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        padding-left: 15px;
      }
    }
    &__brand__list{
      width: 1020px;
      height: 2614px;
      background-color: rgb(245, 245, 245);
      margin: auto;
      &__chanel{
        height: 573px;
        padding-top: 42px;
        font-weight: bold;
        margin-bottom: 60px;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 524px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
      &__viton{
        height: 573px;
        padding-top: 42px;
        font-weight: bold;
        margin-bottom: 60px;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 524px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
      &__supreme{
        height: 573px;
        padding-top: 42px;
        margin-bottom: 60px;
        font-weight: bold;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 524px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
      &__nike{
        height: 573px;
        padding-top: 42px;
        margin-bottom: 60px;
        font-weight: bold;
        &__new{
          height: 33px;
          &__left{
            font-size: 24px;
            float: left;
          }
          &__right{
            float: right;
            font-size: 14px;
            color: rgb(0, 149, 238);
          }
        }
        &__items{
          height: 524px;
          &__1{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 20px;
            &__ima{
              position: relative;
            }
            p{
              position: absolute;
              bottom: 80px;
              font-size: 17px;
              color: white;
              background-color: rgba(0,0,0,.4);
              border-radius: 0.67em;
            }
            &__text{
              height: 64px;
              width: 189px;
              background-color: white;
              margin-top: 0;
              line-height: 64px;
            }
          }
        }
      }
    }
  }
}




.header__box__bottom__right__newuser{
  display: inline-flex;
  height: 34px;
  margin-left: 390px;
}

.newuser_register{
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 1px solid rgb(234, 53, 45);
  border-radius: 4px;
  padding: 8px 10px;
  margin-right: 10px;
}

.user_login{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  font-size: 14px;
  border: 1px solid rgb(0, 149, 238);
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
}

.item-box{
  position: relative;
}

.item-box__title__price{
  position: absolute;
  top: 150px;
  left:0;
  background-color: lightgray;
  border-radius: 12px;
  padding-right: 10px;
}