.detail__comment
  .detail__comment__space
    .detail__comment__space__you
      .detail__comment__space__you--icon
      .detail__comment__space__you--nickname
      .detail__comment__space__you--comment
    .detail__comment__space__i
      .detail__comment__space__i--comment
  .detail__comment--warning
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %textarea.detail__comment--text
  %input.detail__comment--btn{type: 'submit', value: 'コメントする'}