.conten
  .conten__titlee
    %h2 支払い方法
  .conten__credit-cards
    %h3 クレジットカード一覧
  .conten__credit-logo
    = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3761641567" ,class:"visa" 
  .conten__credit-number
    = "**** **** **** " + @cards.card_number.last(4)
  .conten__credit-date
    = @cards.month + "/" + @cards.year
  .conten__credit__btn 
    = link_to "次に進む","/items/confirm",class: "buy-box" 