.alert{
  
  ul{
    background-color: rgba(221, 159, 148, 0.473);
    border: 1px solid rgb(235, 120, 120);
    padding: 40px 20px 20px 40px;
    li{
      width: 50%;
      font-size:12px;
      color: rgba(238, 11, 11, 0.815)
    }
  }
  

}