/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require_tree .
 *= require_self
 */


  @import "./reset/reset";
  @import 'font-awesome';
  @import "./purchase/cards_index";
  @import "./purchase/cards";
  @import "./purchase/register";
  @import "./category/category_details";
  @import "./category/category";
  @import "./items/comments";
  @import "./items/edit_btn";
  @import "./items/edit";
  @import "./items/goods";
  @import "./items/images";
  @import "./items/item_detail";
  @import "./items/item_exhibit";
  @import "./items/top_page";
  @import "./layouts/footer";
  @import "./layouts/header";
  @import "./layouts/side-ber";
  @import "./search/new_search";
  @import "./search/search";
  @import "./search/search";
  @import "./user/log_out";
  @import "./user/newusers";
  @import "./user/person_confirm";
  @import "./user/sessions";
  @import "./user/show";
  @import "./user/signup";
  @import "./user/user_edit";
  @import 'error_messages';

  * {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #333;
  }
  
.breadcrumbs{
  height: 49px;
  line-height: 49px;
  padding-left: 330px;
  border-bottom: solid #eee 1px;
  border-top: solid #eee 1px;
  font-size: 14px;
  background-color: white;
}

