  .wrapper{
    padding-top: 50px;
  }

.top--content{
  padding: 64px;
  .button {
    width: 318px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    line-height: 48px;
    background-color: #ea352d;
    border: 1px solid #ea352d;
    font-size: 14px;
    color: #fff;
  }
}