.search-right{
  background-color: white;
}

.search-result-head{
  font-size: 20px;
  font-weight: bold;
}
.search-result-head-text{
  font-size: 16px;
  font-weight: normal;
}

.search-result-number{
  font-size: 14px;
}


p.searchhh{
  position: absolute;
  font-size: 15px;
  background-color: lightgray;
}

.kobushi{
  position: relative;
  margin: 0;
  
  top: 0;
  left: 0;
}

.items-box-content-text{
  margin-top: 30px;
}

.items-box-contenttt{
  position: relative;
  width: 180px;
}
