body {
  flex-shrink: 0;
  position: relative;
}
.edit{
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: rgb(245, 245, 245);
  .main{
    margin: 40px 210px 0;
    padding-bottom: 40px;
    display: flex;
    .edit__profile{
      height: 600px;
      width: 700px;
      background-color: white;
      float: right;
      margin-left: 40px;
      .edit__profile--profile{
        text-align: center;
        font-size: 25px;
        height: 50px;
        width: 700px;
        font-weight: bold;
      }
      .edit__profile--user{
        height: 150px;
        width: 700px;
        background-color: red;
        .edit__profile--user--box{
          height: 60px;
          width: 700px;
          padding: 45px 0px;
          .edit__profile--user--box--image{
              height: 60px;
              width: 60px;
              float:left;
              margin-left: 200px;
              background-color: white;
              border-radius: 50%;
            }
          .edit__profile--user--box--nickname{
              height: 40px;
              width: 250px;
              float:left;
              background-color: white;
              margin: 5px 0px 5px 30px;
              font-size: 15px;
              border-radius: 0.2em; 
              border:none;
            }
      }
      }
    }
      .edit__profile--text{
        height: 225px;
        width: 680px;
        margin-top: 50px;
        margin-left: 10px;
        background-color: white;
        font-size: 15px;
      }
      .edit__profile--submit{
        height: 50px;
        width: 680px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: red;
        color: white;
        font-size: 15px;
        outline: none;
      }
  }


}