#image-box-1
  %ul.item-images
  .image-box__container
    %label
      %input{type:"file", class:"sell-upload-drop-file", id:"image", name:"image1", style:"display: none;"}
        ドラッグアンドドロップ
        %br 
        またはクリックしてファイルをアップロード

#image-box-2
  %ul.item-images
  .image-box__container
    %label
      %input{type:"file", class:"sell-upload-drop-file", id:"image", name:"image1", style:"display: none;"}
        ドラッグアンドドロップ
        %br 
        またはクリックしてファイルをアップロード
  
  








